$avatar-sizes: (
  small: 60px,
  large: 80px,
) !default;

@mixin avatar-base() {
  border-radius: 50%;
  overflow: hidden;
  width: map-get($avatar-sizes, small);
  height: map-get($avatar-sizes, small);
}

@mixin avatar {
  .avatar {
    @include avatar-base;
    > img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
